# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
run-data

# other
eclipse
run

# OS / editor noise
Thumbs.db
desktop.ini
*.swp

# Files from Forge MDK
forge_README.txt
forge*changelog.txt
